* {
	box-sizing: border-box;
}

body {}
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	background: #FFF;
	border-bottom: solid 2px #ccc;
	margin-bottom: 20px;
	overflow: auto;
}

.header {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.wrap {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

nav {
	float: right;
	margin-top: 20px;
}

li {
	display: inline;
}

ul {
	padding: 10px;
	margin-top: 10px;
}

#name {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #FFFFFF;
	background: #4aaaa5;
	padding: 25px;
	display: inline-block;
	float: left;
}

h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: solid 2px #dddddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #4aaaa5;
}

p {
	margin-bottom: 16px;
	text-align: justify;
}

#main {
	border: solid 1px #dddddd;
	float: left;
	width: 650px;
	background: #FFF;
	padding: 10px;

}

#sidebar {
	float: right;
	width: 270px;
	padding: 10px;
	border: solid 1px #dddddd;
}

#alana-image {
	max-width: 300px;
	max-height: 300px;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 40px;
	background: #666666;
	color: #BBB;
	width: 100%;
	height: 100px;
	text-align: center;
	border-top: solid 8px #4aaaa5;
}

form {
	width: 100%;
}

input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	color: #ccc;
	border: solid 1px #dddddd;
}

textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	padding: 10px;
	border: solid 1px #dddddd;
	color: #ccc;
}

.left {
	float: left;
}

.right {
	float: right;
}




